.carousel-container {
  position: relative; 
  width: 80%;
  margin: 0 auto; 
  padding: 20px 0; 
}

.carousel-item {
  padding: 10px; 
}

.arrow-next, .arrow-prev {
  position: absolute;
  top: 10px; 
  background-color: rgba(148, 147, 147, 0.5); 
  color: black;
  border: none; 
  padding: 10px; 
  cursor: pointer;
  z-index: 100; 
  border-radius: 50px; 
}

.arrow-next {
  right: 10px; 
}

.arrow-prev {
  right: 50px; 
}


