.navbar{
    display: flex;
    justify-content: space-between;
   padding: 0 40px;
   border-radius: 10px;
   box-shadow:0 4px 8px 0 rgb(199, 197, 197);
   align-items: center;
}
.list{
    display: flex;
    list-style-type: none;
    gap: 0 60px;
    align-items: center;
}

.list li {
    display: flex;
    align-items: center;
    gap: 8px; 
}
    
.logo{
    display: flex;
    gap: 0 25px;
   
}
h3{
    text-decoration: underline;
    
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .list {
        flex-direction: column;
        gap: 20px; 
        
    }

    .list li {
        gap: 12px;
        text-decoration: none;

    }
    link{
        text-decoration: none;
    }

    .logo {
        margin-bottom: 15px; 
    }
}


@media (max-width: 480px) {
    .list {
        gap: 15px;
    }

    .navbar {
        padding: 10px; 
    }
}